body{
    font-family: arial,sans-serif;
}

/* Header Block */
.header-container{
    display: grid;
    position: absolute;
    left: 0;
    right: 0;
}

.header-top{
    padding: 20px;
}

.logo, .logo > img{
width: 74px;
height: 24px;
float: left;
}

.header-link{
    float: right;
    padding: 0 15px
}
.header-link > a {
    font-family: arial,sans-serif;
     text-decoration: none;
     color: rgba(0,0,0,0.87);
     font-size: 12px;
     padding-left: 10px;
    }
.header-link > a:hover{
    text-decoration: underline;
}

.header-bottom{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.header-border-bottom{
    height: 1px;
    width: auto;
    background-color: rgba(0,0,0,0.1);
}